<div class="home-hero">
    <div id="introCopy" class="container">
        <div class="col-sm-12 col-sm-centered">
            <h2>Coming June 2015!</h3>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>The Common Core Standards for Mathematics establish new and more rigorous learning objectives. However, little guidance exists for how to best organize organize the standards.</p>
                    <p>With the support of the William and Flora Hewlett Foundation, Illustrative Mathematics, Mathalicious, and a team of authors have organized the Common Core standards into instructional units for all middle and high school courses. Within each unit, the Unit Blueprints offer a commentary of the mathematics that students will learn, as well as links to suggested activities.</p>
                    <p>The Unit Blueprints are not intended to serve as a comprehensive curriculum, nor should they be used as such. Rather, they provide expert guidance for how to organize the standards, and act as a framework to help educators successfully transition to the Common Core.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <div class="container">
            <div id="itsOver" class="col-sm-7 col-sm-centered">
                <p>Thanks for checking out our pre-launch site! We're tallying up invitations so that we can send out rewards. If you are eligible for one of our rewards, you'll be hearing from us soon!</p>
                <p>In the meantime, please feel free to check out the live <a href="#">Blueprints</a> site.</p>
                <p>Thanks again!</p>
            </div>
        </div>
    <% else %>
        <div class="key"></div>
        <p class="byline">Are you a teacher, administrator, or curriculum developer?<br>Sign up now and we'll let you know when the blueprints are published.</p>
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= value %>
            </div>
        <% end %>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email form-control" %>
            <input class="submit" name="commit" type="submit" value="Keep Me Posted" />
        <% end %>
    <% end %>
</div>