<div class="home-hero">
    <div id="introCopy" class="container">
        <div class="col-sm-10 col-sm-centered">
            <div class="row">
                <div id="thanks" class="col-sm-6">
                    <h3>Thanks for signing up!</h3>
                    <p>Want to keep the good times rolling? Spread the word!</p>
                    <p>Share your unique link via email, Facebook, or Twitter.</p>
                    <p>When your friends sign up with your link, everyone wins. Especially you.</p>
                </div>
                <div class="col-sm-6">
                    <div class="share-wrap">
                        <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
                        <% twitter_message = "#StartCommonCore with the Common Core Unit Blueprints. Excited for this project to launch!" %>
                        <div class="social-links">
                            <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Common Core Unit Blueprints" class="fb" target="_blank"></a>
                            <div class="sep"></div>
                            <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <h2 class="callout">Rewards Meter</h2>
        <ul class="products clearfix">
            <li class="title"><p class="friends">Number of People Referred</p><p class="rewards">What's Your Reward?</p></li>
            <% stops.each do |stop| %>
                <li class="product <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = referrals_count == 1 ? 'friend has' : 'friends have'
        %>

        <p class="place">
        <% if referrals_count == 0 %>
            <span>No</span> friends have joined...Yet!
        <% else %>
            <span><%= referrals_count %></span> <%= words %> joined. Nice work!
        <% end %><br>Come back and check again later.</p>
    </div>
</div>